.button{
    -fx-background-color:#222222;
    -fx-font-size:35px;
    -fx-text-fill: #f5f5f5;
    -fx-background-radius: 15, 0; 
    -fx-background-insets: 0, 4;
}
#changepfpbutton{
    -fx-font-size:28px;
}
#ravenlabel{
    -fx-font-family: 'Comic Sans MS';
    -fx-font-size: 30px;
}
#welcome{
    -fx-font-size: 50px;
}
#description{
    -fx-font-color:#f5f5f5;
-fx-font-size: 30px;
}
#vDesc{
    -fx-font-color:#f5f5f5;
-fx-font-size: 30px;
}
#searchexp{
	-fx-font-size: 30px;
}

#anchor,#Content
{
    -fx-background-color:#000910;
    -fx-font-family:'Gill Sans MT';
    -fx-border-color:#222222;
}
.label{
    -fx-font-family:'Gill Sans MT';
    -fx-font-size:40px; 
    -fx-text-fill:#f5f5f5;
}
.text-field{
    -fx-font-family:'Gill Sans MT';
    -fx-font-size:30px;
    -fx-text-fill:#ffffff;
    -fx-prompt-text-fill:#ffffff;
    -fx-background-color:#222222;
    /*-fx-border-color: #181818;*/
    -fx-background-radius: 40, 0; 
    -fx-background-insets: 0, 4;
    -fx-effect: dropshadow( three-pass-box , rgba(9, 9, 9, 0.685) , 10, 0.0 , 0 , 1 );
    -fx-border-radius: 3px;
    -fx-padding: 10;
    -fx-pref-width: 300px;
    -fx-pref-height : 70px;
    
}
#contentCap{
    -fx-font-family:'Gill Sans MT';
    -fx-font-size:30px;
    -fx-control-inner-background: #222222;
    -fx-text-fill:#ffffff;
    -fx-prompt-text-fill:#ffffff;
    -fx-background-color:#222222;
    /*-fx-border-color: #181818;*/
    -fx-background-radius: 40, 0; 
    -fx-background-insets: 0, 4;
    -fx-effect: dropshadow( three-pass-box , rgba(9, 9, 9, 0.685) , 10, 0.0 , 0 , 1 );
    -fx-border-radius: 3px;
    -fx-padding: 10;
    -fx-pref-width: 600px;
    -fx-pref-height : 200px;
}
#contentCap:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.date-picker {
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: #181818;

}
.date-picker > .text-field {
    -fx-background-radius: 10 0 0 10;
    -fx-border-color: #181818;

}

.date-picker > .arrow-button {
    -fx-background-radius: 0 10 10 0;
    -fx-border-color: #181818;

}
.vbox{
    -fx-background-color:#0c0c0c;
}